<h1 class = "text-center">{{this.headerString}}</h1>

<div *ngFor="let p of postsToDisplay" class="row post-body">
    <div class="col-xs-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h2 class="post-title">{{ p.title }}
                    <span *ngIf="path=='/home'">by
                        <a [href]="'/profile/'+p.user.username">{{ p.user.username }}</a>
                    </span>
                </h2>
            </div>
            <div class="panel-image">
                <img [src]="s3+p.hash" class="panel-image-preview" />
            </div>
            <div class="panel-body">
                <p>{{ p.post_text }}</p>
            </div>
            <div class="panel-footer clearfix">
                <div style="margin-bottom: 3px">
                    <span class="likes-span">
                        <span [id]="'thumb-up-'+p.postId" class="fa fa-thumbs-up"></span>
                        <span [id]="'likes-count-'+p.postId" class="likes-count">
                            {{ p.post_likes }}
                        </span>
                    </span>
                    <button (click)="likeBtnClick(p.postId, this.currUser.getCurrentUser().id)" class="btn-like pull-left">
                        <span [id]="'like-span-'+p.postId" [class]="p.liked">Like</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>